@(Html.Kendo().Grid<EmailTemplateViewModel>()
        .Name("EmailTemplateGrid")
        .ToolBar(commands => commands.Create())
        .DataSource(dataBinding => dataBinding.Ajax()
                        .Events(events => events
                             .Error("Errors.manager.dataSourceErrorHandler")
                             .RequestEnd("Administration.administrationApplication.onRequestEndRefreshGrid"))
                             .Model(model =>
                             {
                                 model.Id(p => p.Id);
                                 model.Field(c => c.DisplayOrder).DefaultValue(10);
                                 model.Field(c => c.EmailType).DefaultValue(new FilterListViewModel());
                                 model.Field(c => c.Visible).DefaultValue(true);
                             })
                        .Read("Read", "EmailTemplateManagement", new { area = "Administration" })
                        .Create("Create", "EmailTemplateManagement", new { area = "Administration" })
                        .Update("Update", "EmailTemplateManagement", new { area = "Administration" })
                        .Destroy(update => update.Action("Destroy", "EmailTemplateManagement", new { area = "Administration" })
                        )
                        .PageSize(20)
                        .Sort(sort => sort.Add(add => add.DisplayOrder).Ascending()))
                .Columns(columns =>
                {
                    columns.Bound(o => o.Id).Title("Id").Hidden(true);
                    columns.Bound(o => o.Name);
                    columns.Bound(o => o.EmailType).ClientTemplate("#=EmailType.Name#").Width(150).Filterable(false);
                    columns.Bound(o => o.EmailSubject).Encoded(false);
                    columns.Bound(o => o.EmailText).Encoded(false);
                    columns.Bound(o => o.DisplayOrder).Width(70);
                    columns.Bound(o => o.Visible).Width(70)
                     .HeaderHtmlAttributes(new { style = "overflow: visible; white-space: normal;height:60px;" })
                     .ClientTemplate("<input type='checkbox' name='bVisibleCb' #=Visible? 'checked' : ''# disabled /> ")
                     .HtmlAttributes(new { style = "text-align:center" });

                    columns.Command(command => {
                        command.Edit().Text(" ").HtmlAttributes(new { title = "Edit" });
                        command.Destroy().Text(" ").HtmlAttributes(new { title = "Delete" });
                    });
                })
            .Editable(editing => editing.Mode(GridEditMode.InLine))
            .Filterable()
            .ColumnMenu()
            .Pageable(pageable => pageable.Refresh(true).PageSizes(true))
            .ClientDetailTemplateId("EmailTemplateGridTemplate")
            .Sortable()
)
<script id="EmailTemplateGridTemplate" type="text/kendo-tmpl">
    @(Html.Kendo().TabStrip()
            .Name("EmailTemplateGridTabStrip_#=Id#")
            .SelectedIndex(0)
            .Animation(animation => animation.Open(open => open.Fade(FadeDirection.In)))
            .Items(items =>
            {
                items.Add().Text("Email Text").Content(
                    "#= EmailText #"
                );
            })
         .ToClientTemplate())
</script>