﻿@using Telerik.Reporting
@using Telerik.ReportViewer.Mvc
@model LinkConsultancyAscott.Service.ViewModels.ReportViewer.ViewerViewModel

@{
    var uriReportSource = new UriReportSource()
    {
        Uri = Model.ReportName
    };

    foreach (var parameter in Model.Parameters)
    {
        uriReportSource.Parameters.Add(parameter.Key, parameter.Value);
    }
}


    <link href="@Url.Content("~/ReportViewer/styles/telerikReportViewer.css")" rel="stylesheet" />
@(Html.TelerikReporting().ReportViewer()
    .Id("reportViewer1")
       .ServiceUrl(@Url.Content("~/api/reports/"))
       .TemplateUrl(@Url.Content("~/ReportViewer/templates/telerikReportViewerTemplate.html"))
       .ReportSource(uriReportSource)
       .ViewMode(ViewMode.PrintPreview)      
       .ScaleMode(ScaleMode.FitPageWidth)
       .PersistSession(false)
       .PrintMode(PrintMode.AutoSelect)
       .Deferred()
)

<!--kendo.all.min.js can be used as well instead of kendo.web.min.js and kendo.mobile.min.js-->
    <script src="@Url.Content("~/Scripts/kendo/2018.1.117/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/ReportViewer/js/telerikReportViewer-12.0.18.117.min.js")"></script>

    @(
        // All deferred initialization statements will be rendered here
        Html.TelerikReporting().DeferredScripts()
    )
