﻿@model LinkConsultancyAscott.Service.ViewModels.ReportViewer.ViewerViewModel
@{
    ViewBag.Title = "Report Viewer";
    Layout = "~/Views/Shared/_ReportPopUpLayout.cshtml";
}

<style>
    #reportViewer1 {
        position: absolute;
        left: 5px;
        right: 5px;
        top: 10px;
        bottom: 5px;
        overflow: hidden;
        font-family: Verdana, Arial;
    }
</style>

<div id="partialViewer"></div>

<script  type="text/javascript">
    $(document).ready(function () {
        var viewModel = @(Html.Raw(Json.Encode(Model)));

        loadViewerPartial(viewModel);
    });
</script>
