﻿
@model LinkConsultancyAscott.WebCore.Models.CataleyaInfoViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "TLC - CataleyaLogin";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-signin", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h1 class="h3 mb-3 font-weight-normal">TLC Portal</h1>
    <img class="mb-4" src="~/Content/Images/LinkLogo.png" alt="" width="72" height="72">
    <h2 class="h3 mb-3 font-weight-normal">Cataleya Information</h2>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    @Html.LabelFor(m => m.UserName, new { @class = "sr-only" })
    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "USer Name" })
    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })

    @Html.LabelFor(m => m.Password, new { @class = "sr-only" })
    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })


    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Register" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
