﻿@using LinkConsultancyAscott.WebCore.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "TLC - Sign In";
}


    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h1 class="h3 mb-3 font-weight-normal">TLC Portal</h1>
        <img class="mb-4" src="~/Content/Images/LinkLogo.png" alt="" width="72" height="72">
        <h2 class="h3 mb-3 font-weight-normal">Please sign in</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.LabelFor(m => m.Email, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder="Email address"})
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        @Html.LabelFor(m => m.Password, new { @class = "sr-only" })
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

        
        <div class="checkbox mb-3">
            <label>
                @Html.CheckBoxFor(m => m.RememberMe) Remember me
            </label>
        </div>

        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign in" />
        <p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
    }



                

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}