﻿@model LinkConsultancyAscott.WebCore.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "TLC - Register";
}

@using (Html.BeginForm("Next", "Account", FormMethod.Post, new { @class = "form-signin", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h1 class="h3 mb-3 font-weight-normal">TLC Portal</h1>
    <img class="mb-4" src="~/Content/Images/LinkLogo.png" alt="" width="72" height="72">
    <h2 class="h3 mb-3 font-weight-normal">Create a new account</h2>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    @Html.LabelFor(m => m.Email, new { @class = "sr-only" })
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder="Email address"})
    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

    @Html.LabelFor(m => m.Password, new { @class = "sr-only" })
    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger"})

    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "sr-only" })
    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })

    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Next" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
