﻿@using LinkConsultancyAscott.Service.Models

@{
    ViewBag.Title = "TLC Portal - ACL History";
}

@section styles
{
}

@section scripts
{
}

    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">ACL History</h4>
          </div>
          <div class="card-body">
              <p>View the ACL History</p>
              <a class="btn btn-primary" href="@Url.Action("AclHistory", "Acl", new { area = "AccessManagement" })"
                         title="Audit"><i class="far fa-history fa-fw"></i> Audit History</a>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">ACL White List</h4>
          </div>
            <div class="card-body">
                <p>Manage the ACL White List</p>
                 <a class="btn btn-primary" role="button" href="@Url.Action("AclList", "Acl", new { area = "AccessManagement", aclListType = AclListType.WhiteList })"
                         title="White List"><i class="far fa-thumbs-up fa-fw"></i> White List</a>
            </div>
           
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">ACL Black List</h4>
          </div>
          <div class="card-body">
              <p>Manage the ACL Black List</p>
            <a class="btn btn-primary" role="button" href="@Url.Action("AclList", "Acl", new { area = "AccessManagement", aclListType = AclListType.BlackList })"
                         title="Black List"><i class="far fa-thumbs-down fa-fw"></i> Black List</a>
          </div>
        </div>
      </div>
