﻿@font-face {
  font-family: 'CorbelRegular';
  src: url("./corbel-webfont.eot");
  src: url("./corbel-webfont.eot#iefix") format("embedded-opentype"), url("./corbel-webfont.woff") format("woff"), url("./corbel-webfont.ttf") format("truetype"), url("./corbel-webfont.svg#CorbelRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}