﻿@using LinkConsultancyAscott.Service.Models
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/bootstrap/css")
    @Styles.Render("~/Content/kendo/" + KendoSettings.KendoVersion + "/css")
    @Styles.Render("~/Content/css")
    @RenderSection("styles", false)

    @Scripts.Render("~/bundles/fontawesome")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/global")
    @Scripts.Render("~/bundles/administration")
    @Scripts.Render("~/bundles/signalr")
    <script src="~/signalr/hubs"></script>

    @RenderSection("scripts", false)
</head>
<body>
  <nav  id="header-wrapper" class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" title="TLC - Portal" href="@Url.Action("Start", "Home", new { area = "" })">
          <img src="~/Content/Images/LinkLogoSmall.png" title="TLC - Portal" alt="" width="36" height="36">
          TLC - Portal
      </a>
      
      @Html.Partial("_LoginPartial")
  </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
              <ul class="nav flex-column">
                  <li class="nav-item">
                      <a id="accessControlTitle" class="nav-link" href="#">
                          <i class="far fa-wifi fa-fw"></i>
                          ACL<span class="sr-only">(current)</span>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a id="accessControlAuditHistoryTitle" class="nav-link" href="@Url.Action("AclHistory", "Acl", new { area = "AccessManagement" })"
                         title="Audit"><i class="far fa-history fa-fw"></i> History</a>
            
                  </li>
                  <li class="nav-item">
                      <a id="accessControlWhiteListTitle" class="nav-link" href="@Url.Action("AclList", "Acl", new { area = "AccessManagement", aclListType = AclListType.WhiteList })"
                         title="White List"><i class="far fa-thumbs-up fa-fw"></i> White List</a>
          
                  </li>
                  <li class="nav-item">
                      <a id="accessControlBlackListTitle" class="nav-link"  href="@Url.Action("AclList", "Acl", new { area = "AccessManagement", aclListType = AclListType.BlackList })"
                         title="Black List"><i class="far fa-thumbs-down fa-fw"></i> Black List</a>
          
                  </li>
              </ul>
              
             @if (User.IsInRole(ApplicationRoles.Administrators) || User.IsInRole(ApplicationRoles.Developers))
             {
                 <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                     <span>Adminsitration</span>
                 </h6>
                 <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link"  href="@Url.Action("Index", "Administration", new { area = "Administration" })">
                                    <i class="far fa-cog fa-fw" title="Administration" ></i> Administration
                        </a>
                    </li>
                     <li class="nav-item">
                         <a id="accessControlCataleyaListTitle" class="nav-link"
                            href="@Url.Action("CataleyaAclList", "Acl", new { area = "AccessManagement" })"
                            title="Cataleya Security ACL List"><i class="far fa-cloud fa-fw"></i> Cataleya ACL
                         </a>
                     </li>
                    <li class="nav-item">
                         <a id="accessControlIpInterfaceListTitle" class="nav-link"
                            href="@Url.Action("CataleyaIpInterfaceList", "Acl", new { area = "AccessManagement" })"
                            title="Cataleya IP Interface List"><i class="far fa-phone fa-fw"></i> Cataleya IP IF
                         </a>
                    </li>
                    <li class="nav-item">
                         <a id="accessControlSipInterfaceListTitle" class="nav-link"
                            href="@Url.Action("CataleyaSipInterfaceList", "Acl", new { area = "AccessManagement" })"
                            title="Cataleya SIP Interface List"><i class="far fa-phone fa-fw"></i> Cataleya SIP IF
                         </a>
                    </li>
                    <li class="nav-item">
                         <a id="accessControlMediaInterfaceListTitle" class="nav-link"
                            href="@Url.Action("CataleyaMediaInterfaceList", "Acl", new { area = "AccessManagement" })"
                            title="Cataleya Media Interface List"><i class="far fa-microphone fa-fw"></i> Cataleya Media IF
                         </a>
                    </li>
                 </ul>
             }
          </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                @RenderBody()
        </main>
      </div>
    </div>
    
    @(Html.Kendo().Notification()
                  .Name("notification")
                  .Width("100%")
                  .Position(position => position.Top(60).Left(0))
    )

    @{
        var culture = new System.Globalization.CultureInfo("en-GB").ToString();
    }


    <script type="text/javascript">

        if (!(window.console && console.log)) {
            console = {
                log: function () { },
                debug: function () { },
                info: function () { },
                warn: function () { },
                error: function () { }
            };
        }

        appRootUrl = '@(new Uri((new Uri(Request.Url.GetLeftPart(UriPartial.Authority))), Url.Content("~")).ToString())';
        kendo.culture("@culture");

        // Build the signal R client
        LinkConsultancyAscottSignalrManager.instance = new LinkConsultancyAscottSignalrManager.Application();
    </script> 
</body>
</html>