﻿<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendo/" + KendoSettings.KendoVersion + "/css")
    @RenderSection("styles", false)

</head>
<body>
        @{
        var culture = new System.Globalization.CultureInfo("en-GB").ToString();
        }

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/mpcbtracker")

    @RenderSection("scripts", false)


<div class="container-fluid">
        @RenderBody()
</div>

@Html.Kendo().DeferredScripts()
    <script type="text/javascript">
        if (!(window.console && console.log)) {
            console = {
                log: function () { },
                debug: function () { },
                info: function () { },
                warn: function () { },
                error: function () { }
            };
        }

        appRootUrl = '@(new Uri((new Uri(Request.Url.GetLeftPart(UriPartial.Authority))), Url.Content("~")).ToString())';
        kendo.culture("@culture");
    </script>
</body>
</html>
