﻿@using LinkConsultancyAscott.Service.Models
<div class="top-right">
    @if (User.IsInRole(ApplicationRoles.Administrators) || 
         User.IsInRole(ApplicationRoles.Developers))
    {
        <a href="@Url.Action("Index", "Administration", new { area = "Administration" })">
            <i class="far fa-cog fa-lg" title="Administration" aria-hidden="true"></i>
            <span class="sr-only">Administration</span>
        </a>
    }
</div>
