﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

@section styles
{
}

@section scripts
{
}


    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>
    <h4 class="text-danger">@Model.ControllerName - @Model.ActionName</h4>

    <p class="text-danger">@Model.Exception</p>

