@using Kendo.Mvc.UI
@{
    ViewBag.Title = "TLC Portal - ACL History";
}

@section styles
{
}

@section scripts
{

}

<h4><i class="far fa-history fa-fw"></i> ACL - History</h4>
<hr/>
@(Html.Kendo().Grid<AclHistoryViewModel>()
        .Name("AclHistoryGrid")
        .DataSource(dataBinding => dataBinding.Ajax()
                        .Events(events => events
                             .Error("Errors.manager.dataSourceErrorHandler")
                             .RequestEnd("Administration.administrationApplication.onRequestEndRefreshGrid"))
                             .Model(model =>
                             {
                                 model.Id(p => p.Id);
                             })
                        .Read("ReadAclHistory", "Acl", new { area = "AccessManagement"})
                        .PageSize(50)
                        .Sort(sort => sort.Add(add => add.CreatedAt).Ascending()))
                .Columns(columns =>
                {
                    columns.Bound(o => o.Id).Title("Id").Hidden(true);
                    columns.Bound(o => o.CreatedAt).Title("Created At").Format("{0:dd/MM/yyyy HH:mm}");
                    columns.Bound(o => o.CreatedBy).Title("Created By");
                    columns.Bound(o => o.AclListType).Title("ACL Type");
                    columns.Bound(o => o.Name).Title("IP Address");
                    columns.Bound(o => o.Prefix).Title("Prefix");
                    columns.Bound(o => o.AclHistoryName).Title("Name");
                    columns.Bound(o => o.InterfaceName).Title("Interface Name");
                    columns.Bound(o => o.AclSourceType).Title("Source");
                })
            .Filterable()
            .ColumnMenu()
            .Pageable(pageable => pageable.Refresh(true).PageSizes(new [] { 10, 20, 50, 100, 250 }))
            .Sortable()
)

<script type="text/javascript">
    LinkConsultancyAscott.application.gridResizeHandler("#AclHistoryGrid");
</script>