@using Kendo.Mvc.UI
@using LinkConsultancyAscott.Service.Extensions
@model AclListType

@{
    ViewBag.Title = "TLC Portal - " + Model.GetDescription() + " List";
}

@section styles
{
}

@section scripts
{

}

@if (Model.Equals(AclListType.BlackList))
{
    <h4><i class="far fa-thumbs-down fa-fw"></i> ACL - Black List</h4>
}
else
{
    <h4><i class="far fa-thumbs-up fa-fw"></i> ACL - White List</h4>
}
<hr/>
@(Html.Kendo().Grid<AclListViewModel>().Name("AclListGrid").ToolBar(toolbar =>
{
    toolbar.Create();
    //toolbar
    //    .Custom().Text("<i class='far fa-upload fa-fw'></i>  Upload IP Addresses")
    //    .HtmlAttributes(new { id = "AclListGridUploadCommand" });
})
       .DataSource(dataBinding => dataBinding.Ajax()
         .Events(events => events.Error("Errors.manager.dataSourceErrorHandler")
            .RequestEnd("Administration.administrationApplication.onRequestEndRefreshGrid"))
            .Model(model =>
            {
                model.Id(p => p.Id);
                model.Field(c => c.AclListType).Editable(false).DefaultValue(new FilterListViewModel{ Id = (int)Model, Name = Model.GetDescription()});
                model.Field(c => c.AclEntityType).Editable(false).DefaultValue(new FilterListViewModel{ Id = (int)AclEntityType.IpAddress, Name = AclEntityType.IpAddress.GetDescription()});
                model.Field(c => c.AclSourceType).Editable(false).DefaultValue(new FilterListViewModel{ Id = (int)AclSourceType.UserDefined, Name = AclSourceType.UserDefined.GetDescription()});
                model.Field(c => c.Interface).Editable(true).DefaultValue(new InterfaceFilterListViewModel());
                model.Field(c => c.Prefix).Editable(true).DefaultValue(32);
                model.Field(c => c.CreatedAt).Editable(false).DefaultValue(DateTime.UtcNow);
                model.Field(c => c.CreatedBy).Editable(false).DefaultValue(User.Identity.Name);
            })
              .Read("ReadAclList", "Acl", new { area = "AccessManagement", aclListType = Model })
              .Create("CreateAclList", "Acl", new { area = "AccessManagement" })
              .Update("UpdateAclList", "Acl", new { area = "AccessManagement" })
              .Destroy(update => update.Action("DestroyAclList", "Acl", new { area = "AccessManagement" }))

              .PageSize(50)
              .Sort(sort => sort.Add(add => add.Name).Ascending()))
              .Columns(columns =>
              {
                  columns.Bound(o => o.Id).Title("Id").Hidden(true);
                  columns.Bound(o => o.Name).Title("IP Address");
                  columns.Bound(o => o.Prefix).Title("Prefix");
                  columns.Bound(o => o.Interface).Title("Interface")
                        .ClientTemplate("#=Interface.Name#  (#=Interface.InterfaceTypeName#)")
                        .Hidden(Model == AclListType.BlackList);
                  columns.Bound(o => o.AclListType).Hidden(true);
                  columns.Bound(o => o.AclEntityType).Title("Type").ClientTemplate("#=AclEntityType.Name#");
                  columns.Bound(o => o.AclSourceType).Title("Source").ClientTemplate("#=AclSourceType.Name#");
                  columns.Bound(o => o.CreatedAt).Title("Created On").Format("{0:dd/MM/yyyy HH:mm}");
                  columns.Bound(o => o.CreatedBy).Title("Created By");
                  columns.Command(command => {
                      command.Edit().Text(" ").HtmlAttributes(new { title = "Update" });
                      command.Destroy().Text(" ").HtmlAttributes(new { title = "Delete" });
                  });
              })

              .Filterable()
           .ColumnMenu()
          .Scrollable(s => s.Enabled(true)
.Height(500))
.Reorderable(reorderable => reorderable.Columns(true))
.Pageable(pageable => pageable.Refresh(true)
.PageSizes(new[] { 10, 20, 50, 100, 250 })).Sortable()
)

    @(Html.Kendo().Window()
        .Name("UploadIpAddressFileWindow")
        .Title("Upload IP Address File")
        .Content("Loading form...")
        .LoadContentFrom("UploadIpAddressFile", "Acl", new {@area = "AccessManagement", listType = @Model} )
        .Width(500)
        .Draggable()
        .Modal(true)
        .Visible(false)
        .Events(ev => ev.Close("LinkConsultancyAscott.application.onUploadClose"))
        .Resizable()
    )

<script type="text/javascript">
    $("#AclListGridUploadCommand").click(function (e) {
        e.preventDefault();
        LinkConsultancyAscott.application.onUploadClick();
    });

    LinkConsultancyAscott.application.gridResizeHandler("#AclListGrid");
</script>