@using Kendo.Mvc.UI

@{
    ViewBag.Title = "TLC Portal - Cataleya Security Access Control List";
}

@section styles
{
}

@section scripts
{

}
<h4><i class="far fa-cloud fa-fw"></i> ACL - Cataleya Security Access Control List</h4>
<hr/>
@(Html.Kendo().Grid<CataleyaAclListViewModel>().Name("CataleyaAclGrid")
       .DataSource(dataBinding => dataBinding.Ajax()
         .Events(events => events.Error("Errors.manager.dataSourceErrorHandler")
            .RequestEnd("Administration.administrationApplication.onRequestEndRefreshGrid"))
            .Model(model =>
                {
                    model.Id(p => p.Id);
                })
              .Read("ReadCataleyaAclList", "Acl", new { area = "AccessManagement", aclListType = Model })
              .PageSize(50)
              .Sort(sort => sort.Add(add => add.Id).Ascending()))
              .Columns(columns =>
              {
                  columns.Bound(o => o.Id).Title("Id");
                  columns.Bound(o => o.Action).Title("Action");
                  columns.Bound(o => o.AppType).Title("App Type");
                  columns.Bound(o => o.IpInterfaceIpAddress).Title("Local IP");
                  columns.Bound(o => o.LocalPort).Title("Local Port");
                  columns.Bound(o => o.RemoteIpAddress).Title("Remote IP Address");
                  columns.Bound(o => o.RemotePrefix).Title("Remote Prefix");
                  columns.Bound(o => o.RemotePort).Title("Remote Port");
                  columns.Bound(o => o.Transport).Title("Transport");
               })
          .Filterable()
          .ColumnMenu()
          .Scrollable(s => s.Enabled(true)
.Height(500))
.Reorderable(reorderable => reorderable.Columns(true))
.Pageable(pageable => pageable.Refresh(true)
.PageSizes(new[] { 10, 20, 50, 100, 250 })).Sortable()
)

<script type="text/javascript">
    LinkConsultancyAscott.application.gridResizeHandler("#CataleyaAclGrid");
</script>