@using Kendo.Mvc.UI

@{
    ViewBag.Title = "TLC Portal - Cataleya IP Interface List";
}

@section styles
{
}

@section scripts
{

}
<h4><i class="far fa-phone fa-fw"></i> ACL - Cataleya IP Interface List</h4>
<hr/>
@(Html.Kendo().Grid<CataleyaIpInterfaceListViewModel>().Name("CataleyaIpInterfaceGrid")
       .DataSource(dataBinding => dataBinding.Ajax()
         .Events(events => events.Error("Errors.manager.dataSourceErrorHandler")
            .RequestEnd("Administration.administrationApplication.onRequestEndRefreshGrid"))
            .Model(model =>
                {
                    model.Id(p => p.Id);
                })
              .Read("ReadCataleyaIpInterfaceList", "Acl", new { area = "AccessManagement", aclListType = Model })
              .PageSize(50)
              .Sort(sort => sort.Add(add => add.Id).Ascending()))
              .Columns(columns =>
              {
                  columns.Bound(o => o.Id).Title("Id");
                  columns.Bound(o => o.Name).Title("Name");
                  columns.Bound(o => o.Description).Title("Description");
                  columns.Bound(o => o.IpInterfaceIpAddress).Title("IP Interface");
                  columns.Bound(o => o.IpInterfaceVlanName).Title("Vlan Name");
                  columns.Bound(o => o.OperatorName).Title("Partition");
               })
          .Filterable()
          .ColumnMenu()
          .Scrollable(s => s.Enabled(true)
.Height(500))
.Reorderable(reorderable => reorderable.Columns(true))
.Pageable(pageable => pageable.Refresh(true)
.PageSizes(new[] { 10, 20, 50, 100, 250 })).Sortable()
)

<script type="text/javascript">
    LinkConsultancyAscott.application.gridResizeHandler("#CataleyaIpInterfaceGrid");
</script>