﻿/* From http://docs.telerik.com/kendo-ui/using-kendo-with-twitter-bootstrap */
/* reset everything to the default box model */

*, :before, :after
{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

/* set a border-box model only to elements that need it */

.form-control, /* if this class is applied to a Kendo UI widget, its layout may change */
.container,
.container-fluid,
.row,
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Custom Kendo Fonts */
.fa .km-icon:after,
.fa .km-icon:before
{
    font: 1em/1em 'FontAwesome';
}


/*Override some Kendo styles for Font Awesome icons being input toolbar buttons...*/
#NavBar-ToolBar .k-sprite {
    text-indent: 0;
    line-height: 1;
}

#NavBar-ToolBar div.k-tabstrip span.k-sprite {
    display: inline;
    /*Control size of Font Awesome icons here rather than with 'fa-3x' classes in the SpriteCssClass below - there it doesn't seem to work.*/
    font-size: 16pt;
}

    #NavBar-ToolBar a.k-button>span.k-sprite {
        display: inline;
        /*Control size of Font Awesome icons here rather than with 'fa-3x' classes in the SpriteCssClass below - there it doesn't seem to work.*/
        font-size: 3em;
    }

