﻿html,
body {
    margin: 0;
    padding: 0;
    border-width: 0;
    height: 100%;
    min-height: 100%;
}

html
{
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 5px 0 5px 0;
    clear: both;
}

h1 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #333;
    line-height: 1.1;
}

h2 {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #333;
}

h3 {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #333;
    margin-bottom: -10px;
    padding-bottom: 10px;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #5f6062;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-left: 10px;
    font-weight: normal;
    text-decoration: none;
    color: #5f6062;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
}

#AdministrationMainTabStrip-parent,
#AdministrationMainTabStrip {
      height: 100%;
      margin: 0;
      padding: 0;
      border-width: 0;
}

#AclHistoryGrid,
#AclListGrid,
#SiteActivityLogGrid,
#LoggingGrid
{
    margin: 0;
    padding: 0;
    border-width: 1px;
    height: 100%; /* DO NOT USE !important for setting the Grid height! */
}

body.fadeIn {
    font-size: 12px !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

hr {
    margin-top: 0.3rem !important;
    margin-bottom: 0.3rem !important;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}


/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

.waiting-spinner {
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

/* Breadcrumb styling taken from: http://bootsnipp.com/snippets/featured/triangle-breadcrumbs-arrows */
.btn-breadcrumb .btn:not(:last-child):after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid white;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: 100%;
    z-index: 3;
}

.btn-breadcrumb .btn:not(:last-child):before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid rgb(173, 173, 173);
    position: absolute;
    top: 50%;
    margin-top: -17px;
    margin-left: 1px;
    left: 100%;
    z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
    padding: 6px 12px 6px 24px;
}

    .btn-breadcrumb .btn:first-child {
        padding: 6px 6px 6px 10px;
    }

    .btn-breadcrumb .btn:last-child {
        padding: 6px 18px 6px 24px;
    }

    /** Default button **/
    .btn-breadcrumb .btn.btn-default:not(:last-child):after {
        border-left: 10px solid #fff;
    }

    .btn-breadcrumb .btn.btn-default:not(:last-child):before {
        border-left: 10px solid #ccc;
    }

    .btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
        border-left: 10px solid #ebebeb;
    }

    .btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
        border-left: 10px solid #adadad;
    }

.centred-icon {
    text-align: center;
    vertical-align: middle;
}

.sub-domain {
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    min-height: 650px;
    height: 850px;
    padding: 20px 16px 16px 10px;
    position: relative;
    color: #21396b;
}

.toolbar-icon {
    color: #21396b;
}

.sub-domain h1 {
    margin-top: 5px;
    color: #21396b;
}

.domain-button {
    font-size: 1.5em;
    font-weight: bold;
    color: #21396b;
}

    .domain-button:focus {
        color: #21396b;
    }

    .domain-button:hover {
        color: #21396b;
    }

.domain-heading {
    outline: 0;
    font-size: 2.5em;
    font-weight: bold;
    color: #21396b;
}

.domain-heading-title {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #21396b;
    line-height: 1.1;
    vertical-align: middle;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    padding-left: 10px;
    padding-right: 10px;
}

.domain-sub-heading-title {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #21396b;
    line-height: 1.1;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.domain-heading:hover, .domain-heading:active, .domain-heading:focus {
    outline: 0;
    color: #21396b;
}

.top-right {
    position: absolute;
    top: 3px;
    right: 10px;
    z-index: 9999;
}

.page-header {
    margin-top: 5px;
}

.ra-section {
    margin-bottom: 20px;
}

.buttons-wrap {
    padding-top: .5em;
    text-align: right;
}

/*Kendo Grid Paging*/

.k-pager-wrap {
    padding: 0.3em 0em 0.2em 0.25em;
    line-height: 1.8em;
}

.k-pager-numbers .k-link {
    line-height: 1.8em;
}

.k-pager-wrap > .k-link {
    height: 1.8em;
    line-height: 1.8em;
}

.k-dropdown-wrap .k-select {
    line-height: 1.7em;
    height: 1.7em;
}

.k-pager-sizes .k-dropdown-wrap .k-input {
    line-height: 1.7em;
}

.k-dropdown-wrap .k-input {
    height: 1.7em;
}

#basketLink {
    cursor: pointer;
}

.grid-button {
    cursor: pointer;
}

.navbar-brand {
    height: 36px;
}

.topnav {
    font-size: 16px;
}

#dietReportViewer {
    position: absolute;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
    font-family: Verdana, Arial;
}

.k-listview {
    border-width: 1px 0 0;
    padding: 0;
    overflow: hidden;
    min-height: 298px;
}

.edit-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: right;
    padding: 5px;
    background-color: #8cb1c6;
}

.k-pager-wrap {
    border-top: 0;
}

span.k-invalid-msg {
    position: absolute;
    margin-left: 6px;
}

.k-add-button {
    margin-bottom: 2em;
}

@media only screen and (max-width : 620px) {

    .requirement-view {
        width: 100%;
    }

        .requirement-view:nth-child(even) {
            border-left-width: 1px;
        }
}


.intro-message {
    position: relative;
    padding-bottom: 1%;
    color: #0d5881;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.intro-message > p {
    color: #0d5881 !important;
    font-size: 14px;
}

.intro-message > h4 {
     color: #0d5881;
     font-size: 16px;
}

.selected-requirement {
    background-color: #f3ffe6  !important;
}

.k-treeview .k-sprite {
    background-image: url("../Content/Images/coloricons-sprite.png");
}
 
.doc        { background-position: 0 0; }
.folder     { background-position: 0 -16px; }
.pdf        { background-position: 0 -32px; }
.html       { background-position: 0 -48px; }
.ppt        { background-position: 0 -64px; }
.xls        { background-position: 0 -80px; }

.k-grid td{
    font-size: 11px;
}

.k-pager-numbers .k-link, .k-pager-numbers .k-state-selected {
    height: 1.8em;
}


.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: 0;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .35rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }