<script>
    function getColourFromState(state) {

        if (state === 'Add') {
            return "#009900";
        } else if (state === 'Modified') {
            return "#FF9900";
        } else {
            return "#FF0000";
        }
    }
</script>

     @(Html.Kendo().Grid<AuditLogViewModel>()
        .Name("AuditLogGrid")
        .DataSource(dataBinding => dataBinding.Ajax()
                              .Events(events => events.Error("Errors.manager.dataSourceErrorHandler"))
                                      .Model(model =>
                                      {
                                            model.Id(p => p.Id);
                                      })
                                .Read("Read", "AuditLog", new { Area= "Administration" } ).PageSize(250)
                        .Sort(sort => sort.Add(add => add.Timestamp).Descending()))
        .Columns(columns =>
                     {
                         columns.Bound(o => o.Id).Title("Id").Visible(false);
                         columns.Bound(o => o.Timestamp).Title("Date").Width(210).Visible(true).Format("{0:dd/MM/yyyy HH:mm:ss}");
                         columns.Bound(o => o.EventType).Title("Event Type").Width(90).Filterable(ftb => ftb.Multi(true))
                             .ClientTemplate("#if (EventType === 'Add') {#" +
                                              "<span style='display: inline-block; width: 100%; height: 100%;'><i class='far fa-plus-circle fa-lg' style='color: #= getColourFromState(EventType) #'></i> #= EventType #</span>" +
                                              "#} else if (EventType === 'Modified') {#" +
                                              "<span style='display: inline-block; width: 100%; height: 100%;'><i class='far fa-exchange fa-lg' style='color: #= getColourFromState(EventType) #'></i> #= EventType #</span>" +
                                              "#} else {#" +
                                              "<span style='display: inline-block; width: 100%; height: 100%;'><i class='far fa-minus-circle fa-lg' style='color: #= getColourFromState(EventType) #'></i> #= EventType #</span>" +
                                              "#}#");
                         columns.Bound(o => o.EntityName).Title("EntityName").Hidden(false);
                         columns.Bound(o => o.EntityId).Title("Entity Id");
                         columns.Bound(o => o.EventDescription).Title("Event Description");
                     })
                     .Pageable(pageable => pageable.Refresh(true).PageSizes(new[] { "All", "250", "500", "1000", "2500" }).Enabled(true))
                     .Filterable()
                    .ColumnMenu()
                    .Sortable()
)
