@model LinkConsultancyAscott.Service.ViewModels.Acl.InterfaceFilterListViewModel

@(
    Html.Kendo().DropDownListFor(m => m)
                .DataTextField("Name")
                .DataValueField("Id")
                .Template("<span>#:data.Name# (#:data.InterfaceTypeName#)</span>")
                .ValueTemplate("<span>#:data.Name# (#:data.InterfaceTypeName#)</span>")
                .DataSource(binding => binding.Read(
                                    read => read.Action("GetUserInterfacesList", "StaticData", new { @area="" }).Type(HttpVerbs.Post)))
)
